<%= link_to 'Add new place', new_place_path,  { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<h3 class='add_place_header'>Uploaded places</h3>
<div class='row images'>
  <% @places.each do |place| %>
    <div class="col-md-3">
      <div class='wrap'>
        <%= image_tag(place.image_path.url, class: 'image', size: '400') if place.image_path? %>
      <div class='title'><%= place.name %></div>
        <div class='description'><%= place.description %></div>
      </div>
    </div>
  <% end %>
</div>
